<h1>
  Director #<%= @id %> details
</h1>

<a href="/directors" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<a href="/delete_director/4027" class="btn btn-block btn-outline-secondary">
  Delete director
  <small>(Building this link is not required. It's an optional stretch goal; but, you have the tools if you want to give it a try.)</small>
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @director_info.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @director_info.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @director_info.bio  %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src=<%= @director_info.image %> style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @director_info.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @director_info.updated_at %>
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
    </th>
  </tr>

  <% @movie_list.all.each do |movie| %>
  <tr>
    <td>
      <%= movie.id %>
    </td>

    <td>
      <img src=<%= movie.image %> alt=pic />
      
    </td>

    <td>
      <%= movie.title %>
    </td>

    <td>
      <%= movie.year %>
    </td>

    <td>
      <%= Director.where("id = ?" , movie.director_id.to_s).last.name%>
    </td>

    <td>
      <a href= <%= "/movies/#{movie.id}" %>>Show details</a>
    </td>
  </tr>
  <% end %>

</table>