<h1>
  List of all directors
</h1>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>

    <th>
    </th>
  </tr>

  <% Director.count.times do |i| %>
  <tr>
    <td>
      <%= Director.all.at(i-1).fetch("id") %>
    </td>

    <td>
      <img src=<%= Director.all.at(i-1).fetch("image") %> alt=<%= Director.all.at(i-1).fetch("image") %> />
      
    </td>

    <td>
      <%= Director.all.at(i-1).fetch("name") %>
    </td>

    <td>
      <%= Director.all.at(i-1).fetch("dob") %>
    </td>

    <td>
      <a href= <%= "/directors/#{Director.all.at(i-1).fetch("id")}" %>>Show details</a>
    </td>
  </tr>
  <% end %>


  </table>